export ADDR=":8080"
export GOOSE_DRIVER="postgres"
export GOOSE_DBSTRING="postgres://postgres:postgres@localhost:5433/socialnetwork?sslmode=disable"
export GOOSE_MIGRATION_DIR="./cmd/migrate/migrations"
